@charset "UTF-8";
/* CSS Document */

#footer .widget, .icon-2x  {
    color: #fff;
}

#footer .widget .title {
	letter-spacing:1px;	
}

#footer .textwidget {
	font-size: 12px;
	line-height: 20px;
}

.icon-2x {
    padding: 15px 15px 0px 0px;
}

#footer .widget ul {
	line-height:.5em;
}

#footer .widget ul.menu li {
	border:none;	
}

#footer .widget ul.menu li a {
	font-size:13px;
    font-weight: 400;
	text-transform:none;
	padding: 10px 0px;
}